.normal-text {
    -fx-font-size: 1.5em;
}
.big-text {
    -fx-font-size: 200%;
}
.bold-text {
    -fx-font-weight: bold;
}
.red{
    -fx-background-color: red;
}
.green{
    -fx-background-color: green;
}
.storeListItem{
    -fx-padding: 10px;
    -fx-background-color: #FFFFFF;
}

.mainFlowPane{
    -fx-background-color: #F0F0F0;
}

.categoriesAnchorPane{
    -fx-background-color: #3F3F3F;
}
.side_borders {
    -fx-border-style: hidden solid hidden solid;
}
#greeno {
    -fx-background-color: green;
}
.subCategorySelected {
    -fx-background-color: green;
}
.mainCategorySelected {
    -fx-background-color: red;
}
.mainCategoryStandard {

}
.mainCategoryStandard:hover{
  -fx-background-color: #777777;
}
.subCategoryStandard {
    -fx-background-color: #666666;
    -fx-border-style: hidden solid hidden solid;
}
.subCategoryStandard:hover{
    -fx-background-color: #777777;
}
.shoppingCart{
    -fx-background-color: #EEE9D1;
}
.paymentPane{
    -fx-background-color: #EEE9D1;
}
#current{
    -fx-background-color: #AAFFAA;
    -fx-opacity: 1;
}

.static_object_hinting{
    -fx-border-width: 1px;
    -fx-border-color: #999999;
    -fx-border-radius: 1px;
    -fx-background-radius: 1px;
}
.static_object_hinting:hover{
    -fx-background-color: #FCFCFC;
}
.static_object_hinting:pressed{
    -fx-background-color: #D0D0D0;
}
.nextButton{
    -fx-background-color:  #55CC55;
    -fx-font-color: #FFFFFF;
}