.normal-text {
    -fx-font-size: 1.5em;
}
.big-text {
    -fx-font-size: 1.55em;
}
.bold-text {
    -fx-font-weight: bold;
}
.red{
    -fx-background-color: red;
}
.green{
    -fx-background-color: green;
}
.storeListItem{
    -fx-padding: 10px;
    -fx-background-color: #FFFFFF;
}

.mainFlowPane{
    -fx-background-color: #F0F0F0;
}

.categoriesAnchorPane{
    -fx-background-color: #3F3F3F;
}
.side_borders {
    -fx-border-style: hidden solid hidden solid;
}
#greeno {
    -fx-background-color: green;
}
.upper_border {
    -fx-border-width: 1 1 1 0;
}
.lower_border {
    -fx-border-width: 0 0 0 0;
}
.subCategorySelected {
    -fx-background-color: green;
}
.mainCategorySelected {
    -fx-background-color: red;
}
.mainCategoryStandard {
}
.subCategoryStandard {
    -fx-background-color: black;
}
