.normal-text {
    -fx-font-size: 1.5em;
}
.big-text {
    -fx-font-size: 1.55em;
}
.bold-text {
    -fx-font-weight: bold;
}
.red{
    -fx-background-color: red;
}
.green{
    -fx-background-color: green;
}
.storeListItem{
    -fx-padding: 10px;
    -fx-background-color: #FFFFFF;
}

.mainFlowPane{
    -fx-background-color: #F0F0F0;
}